# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Studium Hagenberg\3. Semester\Masterarbeit\simpleserialjs\examples\control-rgb-led-with-sliders\library-control-rgb-led-with-sliders\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
